
.logo{
    font-family: 'Ubuntu', sans-serif;
    font-weight:700;
}
.main-menu a {
    font-size: 17px;
    color:#444;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    padding:9px 17px;
}
.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
}